@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home/index.css" rel="stylesheet" />

@* <div style="height:500px;">
    <div id="PageTitleDiv" class="mw-100 h-100">
        <h1 class="align-items-center">Dysphagia: Symptoms, Causes, Stages, Diagnose, Treatment options.</h1>
    </div>
</div> *@

<div>
    <div class="sample-header">
        <div class="sample-header-section text-center">
            <div class="logo">
                <img src="~/img/NationalDysphagiaCareGuid_Logo3.png" />
            </div>
            <div class="title">
                <h1>Nation Dysphagia Connecting Guide Application</h1>
            </div>
        </div>
    </div>
    <div class="sample-section-wrap">
        <div class="sample-section">
            <div class="mb-4">
                <h3 class="h3">What is dysphagia?</h3>
                <p>Dysphagia is a medical condition where individuals experience difficulty or discomfort while swallowing. It can occur during various stages of swallowing, including chewing and forming a cohesive bolus in the oral phase, initiating the swallow and moving the bolus through the throat in the pharyngeal phase, and transporting the bolus into the stomach in the esophageal phase. Dysphagia can occur due to many factors, including neurological disorders like stroke, Parkinsons, Dementia, Head Injury, Tumors, GBS, any other neuro degenerative disorders, ENT disorders, head and neck cancers, Post Radiation & Chemotherapy, Respiratory Disorders (COPD), Gastro, Esophageal disorders, and critically ill patients. It can be seen in adults and pediatric patients. It can also be seen in elderly population over 60 in one of the other forms of dysphagia. </p>
            </div>

            <hr class="my-4">

            <div class="mb-4">
                <h3 class="h3">What are the symptoms of dysphagia?</h3>
                <p>Symptoms of dysphagia can vary in severity depending on the underlying cause. The following are some manifestations of dysphagia are: </p>
                <ul class="list-unstyled">
                    <li>
                        <ul>
                            <li>Difficulty swallowing.</li>
                            <li>Having to cut food into smaller pieces/ avoiding certain food because of trouble in swallowing.</li>
                            <li>Choking or coughing.</li>
                            <li>Pain or discomfort.</li>
                            <li>Regurgitation.</li>
                            <li>Drooling.</li>
                            <li>Being hoarse.</li>
                            <li>Weight loss, dehydration and malnutrition.</li>
                            <li>The feeling of a lump in the throat.</li>
                            <li>Unintentional weight loss.</li>
                            <li>Recurrent respiratory infections.</li>
                            <li>Having frequent heart burn.</li>
                            <li>Having food/ stomach acid back up into throat.</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <hr class="my-4">

            <div class="mb-4">
                <h3 class="h3">What happens if you ignore dysphagia?</h3>
                <p>It may lead to:</p>
                <ul class="list-unstyled">
                    <li>
                        <ul>
                            <li>Dehydration.</li>
                            <li>Malnutrition.</li>
                            <li>Pneumonia.</li>
                            <li>Increased secretions.</li>
                            <li>Repeated admissions and treatments for bronchitis, asthma, pneumonia, colds, shortness of breathing, and respiratory infections.</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <hr class="my-4">

            <div class="mb-4">
                <h3 class="h3">Whom to consult?</h3>
                <p>You can consult always a certified dysphagia specialist with RCI license.</p>
            </div>

            <hr class="my-4">

            <div class="text-center">
                <p>We understand that living with Dysphagia can be challenging, and we're here to help. To better assess your situation and provide you with the best possible care, we have developed a comprehensive form. By completing this form, you will help us gather crucial information about your current condition, medical history, and personal details.</p>
                <h5>Ready to Get Started?</h5>
                <p>To access the form and start assessing your situation, please click the link below:</p>
                <button type="button" class="btn btn-primary" onclick="navigateToPage()">Access Dysphagia Assessment Form</button>
            </div>

            <hr class="my-4">
            
            <h2 class="h2">Know Your Doctor</h2>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="ratio ratio-1x1">
                            <img src="~/img/DrGowathi.jpeg" class="card-img" alt="Dr. Gowathi Image" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Dr. Karpuram Govathi Nikhila</h4>
                            <h5 class="card-subtitle mb-2 text-muted">Ms.ASLP</h5>
                            <p class="card-text">Senior Consultant – Dysphagia – Speech Specialist & Researcher in Dysphagia</p>

                            <!-- Collapsible Section: Areas of Specialization -->
                            <div class="accordion accordion-flush" id="accordionSpecialization">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSpecialization">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecialization" aria-expanded="false" aria-controls="collapseSpecialization">
                                            Areas of Specialization
                                        </button>
                                    </h2>
                                    <div id="collapseSpecialization" class="accordion-collapse collapse" aria-labelledby="headingSpecialization" data-bs-parent="#accordionSpecialization">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Dysphagia - Assessment & Management</li>
                                                <li>Speech and language Rehabilitation</li>
                                                <li>TMS, Emg Bio Feedback</li>
                                                <li>Clinical Research & Trials</li>
                                                <li>Fiber optic Endoscopic swallow study, Videofluoroscopy study, Barium study, Vital stim electrical therapy</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Collapsible Section: Publications -->
                            <div class="accordion accordion-flush" id="accordionPublications">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingPublications">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePublications" aria-expanded="false" aria-controls="collapsePublications">
                                            Publications
                                        </button>
                                    </h2>
                                    <div id="collapsePublications" class="accordion-collapse collapse" aria-labelledby="headingPublications" data-bs-parent="#accordionPublications">
                                        <div class="accordion-body">
                                            <p>38 + National and International Publications</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Collapsible Section: Achievements & Awards -->
                            <div class="accordion accordion-flush" id="accordionAwards">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingAwards">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAwards" aria-expanded="false" aria-controls="collapseAwards">
                                            Achievements & Awards
                                        </button>
                                    </h2>
                                    <div id="collapseAwards" class="accordion-collapse collapse" aria-labelledby="headingAwards" data-bs-parent="#accordionAwards">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Received <b>Bharat Samman Nidhi Puraskar Award</b> in Excellence in Research on FEB 2024</li>
                                                <li>Received <b>Inspiring Women Award</b> as young scientist in April 2024</li>
                                                <li>Received <b>Sardar Patel National Award</b> in Public Service Excellence on July 2024</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

@*             <div id="doctorsCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="ratio ratio-1x1">
                                        <img src="~/img/DrGowathi.jpeg" class="card-img-top" alt="Dr. Gowathi Image" style="object-fit: cover;" />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                        <p class="card-text">Dysphagia-Assessment & Management</p>
                                        <p class="card-text">Speech and language Rehabilitation</p>
                                        <p class="card-text">Clinical Research & Trials</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <div class="ratio ratio-1x1">
                                                <img src="~/img/DrGowathi.jpeg" class="card-img" alt="Dr. Gowathi Image" style="object-fit: cover;">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">Dr. Karpuram Govathi Nikhila</h4>
                                                <h5 class="card-subtitle mb-2 text-muted">Phd. Psychology, Ms.ASLP</h5>
                                                <p class="card-text">Senior Consultant – Dysphagia – Speech Specialist & Researcher in Dysphagia</p>

                                                <!-- Collapsible Section: Areas of Specialization -->
                                                <div class="accordion accordion-flush" id="accordionSpecialization">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingSpecialization">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecialization" aria-expanded="false" aria-controls="collapseSpecialization">
                                                                Areas of Specialization
                                                            </button>
                                                        </h2>
                                                        <div id="collapseSpecialization" class="accordion-collapse collapse" aria-labelledby="headingSpecialization" data-bs-parent="#accordionSpecialization">
                                                            <div class="accordion-body">
                                                                <ul>
                                                                    <li>Dysphagia - Assessment & Management</li>
                                                                    <li>Speech and language Rehabilitation</li>
                                                                    <li>Clinical Research & Trials</li>
                                                                    <li>Fiber optic Endoscopic swallow study, Videofluoroscopy study, Barium study, Vital stim electrical therapy</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Collapsible Section: Publications -->
                                                <div class="accordion accordion-flush" id="accordionPublications">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingPublications">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePublications" aria-expanded="false" aria-controls="collapsePublications">
                                                                Publications
                                                            </button>
                                                        </h2>
                                                        <div id="collapsePublications" class="accordion-collapse collapse" aria-labelledby="headingPublications" data-bs-parent="#accordionPublications">
                                                            <div class="accordion-body">
                                                                <p>38 + National and International Publications</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Collapsible Section: Achievements & Awards -->
                                                <div class="accordion accordion-flush" id="accordionAwards">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingAwards">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAwards" aria-expanded="false" aria-controls="collapseAwards">
                                                                Achievements & Awards
                                                            </button>
                                                        </h2>
                                                        <div id="collapseAwards" class="accordion-collapse collapse" aria-labelledby="headingAwards" data-bs-parent="#accordionAwards">
                                                            <div class="accordion-body">
                                                                <ul>
                                                                    <li>Loqman Awards (2018) - Best Dysphagia Specialist</li>
                                                                    <li>National Gratitude Award (2019) - Best Dysphagia specialist & Youngest Researcher in India</li>
                                                                    <li>Global Healthcare Award (2021) - Best Youngest Researcher in Dysphagia</li>
                                                                    <li>Received Best Associative Editorial Board Member award from Otolaryngology Journal in 2022</li>
                                                                    <li>Insc Awards (2023) - Research Excellence Award</li>
                                                                    <li>Influencer Book of World Record (2023) - Youngest Researcher in Dysphagia and Best youngest Founder & Director of Govathi Healthcare Foundation (GHF)</li>
                                                                    <li>Received Bharat Gaurav Rathna Award on 4th June 2023</li>
                                                                    <li>Received Pillar Of Nation Award as Youngest Scientist on Aug 14th 2023</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="ratio ratio-1x1">
                                        <img src="~/img/guyavatar1.jpg" class="card-img-top" alt="..." />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. XYZ</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                        <p class="card-text">Dysphagia-Assessment & Management</p>
                                        <p class="card-text">Speech and language Rehabilitation</p>
                                        <p class="card-text">Clinical Research & Trials</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="ratio ratio-1x1">
                                        <img src="~/img/girlavatar2.jpg" class="card-img-top" alt="..." />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. ABC</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                        <p class="card-text">Dysphagia-Assessment & Management</p>
                                        <p class="card-text">Speech and language Rehabilitation</p>
                                        <p class="card-text">Clinical Research & Trials</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="ratio ratio-1x1">
                                        <img src="~/img/girlavatar1.jpg" class="card-img-top" alt="..." />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                        <p class="card-text">Dysphagia-Assessment & Management</p>
                                        <p class="card-text">Speech and language Rehabilitation</p>
                                        <p class="card-text">Clinical Research & Trials</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="ratio ratio-1x1">
                                        <img src="~/img/guyavatar1.jpg" class="card-img-top" alt="..." />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                        <p class="card-text">Dysphagia-Assessment & Management</p>
                                        <p class="card-text">Speech and language Rehabilitation</p>
                                        <p class="card-text">Clinical Research & Trials</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="ratio ratio-1x1">
                                        <img src="~/img/girlavatar2.jpg" class="card-img-top" alt="..." />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                        <p class="card-text">Dysphagia-Assessment & Management</p>
                                        <p class="card-text">Speech and language Rehabilitation</p>
                                        <p class="card-text">Clinical Research & Trials</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#doctorsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black;"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#doctorsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="color:black;"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
 *@        </div>
    </div>

    <script>
        function parallax_height() {
            var scroll_top = $(this).scrollTop();
            var sample_section_top = $(".sample-section").offset().top;
            var header_height = $(".sample-header-section").outerHeight();
            $(".sample-section").css({ "margin-top": header_height });
            $(".sample-header").css({ height: header_height - scroll_top });
        }
        parallax_height();
        $(window).scroll(function () {
            parallax_height();
        });
        $(window).resize(function () {
            parallax_height();
        });
        function navigateToPage() {
            window.location.href = '/Form'; // Replace with your destination page
        }
    </script>
</div>

@* <div class="text-center">
    <h1 class="h1">Dysphagia: Symptoms, Causes, Stages, Diagnose, Treatment options.</h1>
</div> *@


@* <div class="container">
    <div>
        <div class="mb-4">
            <h3 class="h3">What is dysphagia?</h3>
            <p>Dysphagia is a medical condition where individuals experience difficulty or discomfort while swallowing. It can occur during various stages of swallowing, including chewing and forming a cohesive bolus in the oral phase, initiating the swallow and moving the bolus through the throat in the pharyngeal phase, and transporting the bolus into the stomach in the esophageal phase. Dysphagia can occur due to many factors, including neurological disorders like stroke, Parkinsons, Dementia, Head Injury, Tumors, GBS, any other neuro degenerative disorders, ENT disorders, head and neck cancers, Post Radiation & Chemotherapy, Respiratory Disorders (COPD), Gastro, Esophageal disorders, and critically ill patients. It can be seen in adults and pediatric patients. It can also be seen in elderly population over 60 in one of the other forms of dysphagia. </p>
        </div>
        <hr class="my-4">
        <div class="mb-4">
            <h3 class="h3">What are the common symptoms of dysphagia?</h3>
            <p>Symptoms of dysphagia can vary in severity depending on the underlying cause. The following are some common manifestations of dysphagia are: </p>
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li>Difficulty swallowing.</li>
                        <li>Having to cut food into smaller pieces/ avoiding certain food because of trouble in swallowing.</li>
                        <li>Choking or coughing.</li>
                        <li>Pain or discomfort.</li>
                        <li>Regurgitation.</li>
                        <li>Drooling.</li>
                        <li>Being hoarse.</li>
                        <li>Weight loss, dehydration and malnutrition.</li>
                        <li>The feeling of a lump in the throat.</li>
                        <li>Unintentional weight loss.</li>
                        <li>Recurrent respiratory infections.</li>
                        <li>Having frequent heart burn.</li>
                        <li>Having food/ stomach acid back up into throat.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="my-4">
        <div class="mb-4">
            <h3 class="h3">What happens if you ignore the symptoms of dysphagia?</h3>
            <p>It may lead to:</p>
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li>Dehydration.</li>
                        <li>Malnutrition.</li>
                        <li>Pneumonia.</li>
                        <li>Increased secretions.</li>
                        <li>Repeated admissions and treatments for bronchitis, asthma, pneumonia, colds, shortness of breathing, and respiratory infections.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <p>We understand that living with Dysphagia can be challenging, and we're here to help. To better assess your situation and provide you with the best possible care, we have developed a comprehensive form. By completing this form, you will help us gather crucial information about your current condition, medical history, and personal details.</p>
        <h5>Ready to Get Started?</h5>
        <p>To access the form and start assessing your situation, please click the link below:</p>
        <a class="btn-success" asp-area="" asp-controller="Form" asp-action="Index">Access Dysphagia Assessment Form</a>
    </div>
    <hr class="my-4">
    <h2 class="h2">Know Your Doctors</h2>
    <div id="doctorsCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/DrGowathi.jpeg" class="card-img-top" alt="Dr. Gowathi Image" style="object-fit: cover;" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/guyavatar1.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. XYZ</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/girlavatar2.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. ABC</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/girlavatar1.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/guyavatar1.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/girlavatar2.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#doctorsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black;"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#doctorsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="color:black;"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
 *@