@{
    ViewData["Title"] = "Home Page";
}

<style>
    #PageTitleDiv {
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    }
</style>

<div style="height:500px;">
    <div id="PageTitleDiv" class="mw-100 h-100">
        <h1 class="align-items-center">Dysphagia: Symptoms, Causes, Stages, Diagnose, Treatment options.</h1>
    </div>
</div>

<div class="text-center">
    <h1 class="h1">Dysphagia: Symptoms, Causes, Stages, Diagnose, Treatment options.</h1>
</div>


<div class="container">
    <div>
        <div class="mb-4">
            <h3 class="h3">What is dysphagia?</h3>
            <p>Dysphagia is a medical condition where individuals experience difficulty or discomfort while swallowing. It can occur during various stages of swallowing, including chewing and forming a cohesive bolus in the oral phase, initiating the swallow and moving the bolus through the throat in the pharyngeal phase, and transporting the bolus into the stomach in the esophageal phase. Dysphagia can occur due to many factors, including neurological disorders like stroke, Parkinsons, Dementia, Head Injury, Tumors, GBS, any other neuro degenerative disorders, ENT disorders, head and neck cancers, Post Radiation & Chemotherapy, Respiratory Disorders (COPD), Gastro, Esophageal disorders, and critically ill patients. It can be seen in adults and pediatric patients. It can also be seen in elderly population over 60 in one of the other forms of dysphagia. </p>
        </div>
        <hr class="my-4">
        <div class="mb-4">
            <h3 class="h3">What are the common symptoms of dysphagia?</h3>
            <p>Symptoms of dysphagia can vary in severity depending on the underlying cause. The following are some common manifestations of dysphagia are: </p>
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li>Difficulty swallowing.</li>
                        <li>Having to cut food into smaller pieces/ avoiding certain food because of trouble in swallowing.</li>
                        <li>Choking or coughing.</li>
                        <li>Pain or discomfort.</li>
                        <li>Regurgitation.</li>
                        <li>Drooling.</li>
                        <li>Being hoarse.</li>
                        <li>Weight loss, dehydration and malnutrition.</li>
                        <li>The feeling of a lump in the throat.</li>
                        <li>Unintentional weight loss.</li>
                        <li>Recurrent respiratory infections.</li>
                        <li>Having frequent heart burn.</li>
                        <li>Having food/ stomach acid back up into throat.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="my-4">
        <div class="mb-4">
            <h3 class="h3">What happens if you ignore the symptoms of dysphagia?</h3>
            <p>It may lead to:</p>
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li>Dehydration.</li>
                        <li>Malnutrition.</li>
                        <li>Pneumonia.</li>
                        <li>Increased secretions.</li>
                        <li>Repeated admissions and treatments for bronchitis, asthma, pneumonia, colds, shortness of breathing, and respiratory infections.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <p>We understand that living with Dysphagia can be challenging, and we're here to help. To better assess your situation and provide you with the best possible care, we have developed a comprehensive form. By completing this form, you will help us gather crucial information about your current condition, medical history, and personal details.</p>
        <h5>Ready to Get Started?</h5>
        <p>To access the form and start assessing your situation, please click the link below:</p>
        <button type="button" class="btn-success">Access Dysphagia Assessment Form</button>
    </div>
    <hr class="my-4">
    <h2 class="h2">Know Your Doctors</h2>
    <div id="doctorsCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/DrGowathi.jpeg" class="card-img-top" alt="Dr. Gowathi Image" style="object-fit: cover;" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/guyavatar1.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. XYZ</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/girlavatar2.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. ABC</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/girlavatar1.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/guyavatar1.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/girlavatar2.jpg" class="card-img-top" alt="..." />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Karpuram Govathi Nikhila</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Phd. Psychology, Ms.ASLP</h6>
                                <p class="card-text">Dysphagia-Assessment & Management</p>
                                <p class="card-text">Speech and language Rehabilitation</p>
                                <p class="card-text">Clinical Research & Trials</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#doctorsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black;"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#doctorsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="color:black;"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
